<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: my-header('New Post')">

</head>

<body>

<div th:replace="fragments/navbar :: my-navbar">
</div>

<!--<form action="/posts/create" method="post">-->
<!--The object will put all the inputs in the object ad to be able to access it later on-->
<!--<form action="/posts/update" method="post" th:object="${whatispresentedinthetemplet}">-->

    <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post" th:object="${post}">

<!--
    ID:
    <input type="hidden" th:field="*{id}"/>


-->
        Title:
    <!--<input name="title" />-->
            <input th:field="*{title}" />
            <br />
        Description:
    <!--<input name="description" />-->
            <input th:field="*{body}" />
            <br />
        <input type="submit" value="Edit" />
    </form>
    <!--<form action="/posts/delete" method="post" th:object="${whatispresentedinthetemplet}">-->
    <form method="post" th:action="@{/post/{id}/delete(id=${post.id})">

        <!--<input type="hidden" th:field="*{id}"/>-->
    <!--Title:-->
    <!--&lt;!&ndash;<input name="title" />&ndash;&gt;-->
    <!--<input th:field="*{title}" />-->
    <!--<br />-->
    <!--Description:-->
    <!--&lt;!&ndash;<input name="description" />&ndash;&gt;-->
    <!--<input th:field="*{body}" />-->
    <!--<br />-->
        <input type="submit" value="Delete" />
    </form>



<footer th:replace="fragments/footer :: my-footer">
</footer>

</body>
</html>