<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Heather</title>
</head>
<body>
<div>
<!--<div th:fragment="my-showPostByID">-->
    <h1>Here goes the users Posts</h1>

    <!--Fix it to become by ID-->
    <!--<div th:each="post : ${user.posts}">-->
        <!--<h1 th:text="${post.title}"></h1>&ndash;&gt;>-->
        <!--&lt;!&ndash;<h1> Welcome,<span th:text = "${name}"></span>!</h1>&ndash;&gt;-->
        <!--<p th:text="${post.body}"></p>-->

    <!--</div>-->
</div>



</body>
</html>