<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: my-header(${user.name})">

</head>

<body>

    <div th:replace="fragments/navbar :: my-navbar">
        </div>

    <!--User Information-->
    <h1 th:text="${user.name}"></h1>
    <h1 th:text="${user.lastName}"></h1>
    <!--End of User Information-->

    <div th:each="post : ${user.posts}">
        <h1 th:text="${post.title}"></h1>-->>
        <!--<h1> Welcome,<span th:text = "${name}"></span>!</h1>-->
        <p th:text="${post.body}"></p>

    </div>

<footer th:replace="fragments/footer :: my-footer">
</footer>

</body>
</html>