<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: my-header('All posts')">

</head>

<body>

    <div th:replace="fragments/navbar :: my-navbar">
        </div>

    <div th:replace="fragments/userInfo :: my-userInfo">
<!--the user info-->
        </div>
    <div>
<!--the user info-->
<!--The user posts-->
    <div th:replace="fragments/showPostbyId :: my-showPosyById">
        </div>
<!--The user posts-->

<footer th:replace="fragments/footer :: my-footer">
</footer>

</body>
</html>